@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: montserrat, sans-serif;
}

body {
    background-color: rgb(25, 24, 24);
}


header {
    height: 80px;
    width: 100%;
    background-color: rgb(38, 99, 149);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header aside {
    margin-left: 3.73333em;
    font-size: 1.875rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

header nav {
    display: flex;
    gap: 1em;
}

header nav ul {
    display: flex;
    margin-right: 7em;
    gap: 3em;
    align-items: center;
    width: 100%;
}


header nav ul li a {
    font-size: 1.375rem;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s;
}


header nav ul li a:hover, 
header nav ul li a.active {
    background-color: rgb(40, 151, 242);
}


header nav label.checklabel {
    font-size: 23px;
    color: #ffffff;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#checkbtn {
    display: none;
}

